In [15]:
import pandas as pd

In [19]:
data1 = pd.read_csv("D:\python codes\Machine Learning\SVM-in-python\data-files\Customer.csv", header = 0)

In [20]:
data1.head()

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [27]:
data2 = pd.read_csv("D:\python codes\Machine Learning\SVM-in-python\data-files\Customer.csv", header = 0, index_col = 0)

In [28]:
data2.head()

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [24]:
data1.describe()

              Age   Postal Code
count  793.000000    793.000000
mean    44.467844  55229.717528
std     15.526673  31679.223816
min     18.000000   1841.000000
25%     31.000000  27217.000000
50%     45.000000  55901.000000
75%     58.000000  90004.000000
max     70.000000  99207.000000

In [29]:
data2.loc[1]

Customer ID             DV-13045
Customer Name    Darrin Van Huff
Segment                Corporate
Age                           31
Country            United States
City                 Los Angeles
State                 California
Postal Code                90036
Region                      West
Name: 1, dtype: object

In [31]:
(data1.iloc[0])

pandas.core.series.Series